

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(130, 124, 124);
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px 25px ;

    margin-top: 9%;
    margin-left: 50%;

    overflow: hidden;
    transform: translate(-50%, -20%); /* move em seu proprio eixo */ 
    box-shadow: 0px 25px 30px -15px;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #FFF;
    margin: 16px;
    border-radius: 10px;
    cursor: pointer; /* quando passar por cima de algo selecionavel, altera o cursor do mouse */
    transition: .3s;
}

.bar:hover {
    background-color: #3DEBB0;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

/* quando o input estiver checked ela tenha uma margin */ 
#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}


/* descrição dos produtos */ 
.maindescricao {

    width: 935px;
    height: 200px;

    display: flex;
    margin-left: 17.5%;
    margin-top: 40px;

    outline-color: rgb(245, 6, 6);
    background-color: rgba(239, 253, 254, 0.569);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.descricao {
    width: 700px;
    height: 200px;

    display: flex;
}

.descricao img {
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 10px;
}

.descricao h3 {
    margin-top: 65px;
    margin-left: 15px;
    
}

.carroseldescricao {

    background-color: beige;
    width: 235px;
    height: 200px;

    overflow: hidden;
    border-radius: 15px;
}

.carroseldescricao img {
    margin-top: -16px;
    margin-left: -40px;
}

.carroseldescricao ul {
    display: flex;
    list-style: none;
    width: 235px;
    height: 200px;
}

.carroseldescricao li {
    position: relative;
    animation: dir 15s infinite ease-out;
}

@keyframes dir {
    0%{left: 0px;}
    15%{left: 0px;}

    30%{left: -235px;}
    50%{left: -235px;}

    60%{left: -470px;}
    90%{left: -470px;}

    100%{left: 0px;}
}


/* descrição dos produtos 2*/ 
.maindescricao2 {

    width: 935px;
    height: 200px;

    display: flex;
    margin-left: 17.5%;


    background-color: rgba(239, 253, 254, 0.569);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin-top: 40px;
}
.descricao2 {

    width: 700px;
    height: 200px;

    display: flex;

}

.descricao2 img {
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 10px;
}

.descricao2 h3 {
    margin-top: 65px;
    margin-left: 15px;
}

.carroseldescricao2 {

    background-color: beige;
    width: 235px;
    height: 200px;

    overflow: hidden;
    border-radius: 15px;
}

.carroseldescricao2 img {
    margin-top: -16px;
    margin-left: -40px;
}

.carroseldescricao2 ul {
    display: flex;
    list-style: none;
    width: 235px;
    height: 200px;
}

.carroseldescricao2 li {
    position: relative;
    animation: esq 15s infinite ease-out;
}

@keyframes esq {
    0%{left: 0px;}
    15%{left: 0px;}

    30%{left: -235px;}
    50%{left: -235px;}

    80%{left: -470px;}
    90%{left: -470px;}

    100%{left: 0px;}
}

.teste {
    background-color: #FFF;
    display: flex;
    justify-content: center;

    color: purple;
    font-style: oblique;
    font-size: 100px;
}

.maincomentarios {
    display: flex;
    margin-top: 25px;
}

.comentarios {
    width: 600px;
    height: 570px;

    margin-left: 32vh;

    margin-top: 50px;
    outline: solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.comentarios img {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

#textcomentarios {
    height: 100px;
    width: 410px;

    margin-left: 15px;
    margin-bottom: 9px;
}
.avaliacao {

    width: 250px;
    height: 300px;

    margin-top: 200px;
    margin-left: 100px;
    border-radius: 20px;
    outline-color: rgb(184, 23, 23);

    background-color: #1f21204c;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao img {
    margin-top: 30px;
}

.estrelas {
    width: 204px;

}

#add {
    padding: 17px;
    padding-left: 55px;
    width: 300px;
    border: 1px solid #f5f5f5;
    font-size: 13px;
    color: gray;
    background-image: url('http://i47.tinypic.com/r02vbq.png');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
  }

  #g-search-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -22px;
    top: 3px;
  
    background-color: black;  /* Replace with your own image */
  }

  .estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 2.5em;

  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: rgba(0, 213, 255, 0.808);
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
    
  }

  .fa:hover { 
    background-color: #020806;
  }